<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   pic_url.plist
   BGCollectionView

   Created by 杨社兵 on 15/10/25.
   Copyright (c) 2015年 FAL. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
